*{box-sizing: border-box;}

.headerContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;   
    padding: 15px;
}

#headerIcon{
    min-width: 6%;
    width: 6%;
    height: 163%;
}

.logo-content{
    display: flex;
    align-items: center;
    font-size: larger;
    max-height: 25px;
    width: 80%;
    height: 50%;
    padding: 15px;
}

#empText{
    font-weight: bold;
    margin-left: 4px;
    color: #82a70c;    
}

#payrolltext{
    font-weight: bold;
    color: #42515f;
    margin-left: 4px;
}

.form-contain{
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3pxx 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-header{
    font: normal normal bold 24px/37px Roboto;
    color: #42515f;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.lable{
    min-width: 140px;
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text{
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family:Roboto;
}

.input{
    width: 100%;
    padding: 12px;   
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.profile-radio-content{
    display: flex;

}

.profile-radio-content>label{
    display: flex;
    align-items: center;
}

.profile{
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}